*{
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
img{
	width: 80px;
	height: 80px;
}
.content {
	border: 1px solid #999;
	background-color: #eee;
	padding: 20px;
	overflow: hidden;
	line-height: 2em;
}
.left {
	width: 130px;
	border: 2px solid #999;
	padding: 20px;
	background-color: white;
	float: left;
	text-align:center
}
.middle {
	width: auto;
	min-width: 150px;
	padding: 20px;
	border: 2px solid #999;
	background-color: white;
	margin: 0 200px  0 200px;
}
.right {
	width: 130px;
	border: 2px solid #999;
	padding: 18px;
	float: right;
	background-color: white;
}
.left p {
  display: inline-block;
  vertical-align: middle;
	color: rgb(255, 0, 123);
	font-weight: bold;
	text-shadow: 1px 1px 0 #999;
}

.right li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:10px;
}
