* {
	padding: 0;
	margin: 0;
}
body {
	width: 980px;
	height: 1386px;
	margin: 0 auto;
	background-color: #fff;
}
header, .top-container, .bottom-container,  footer {
	width: 892px;
	margin: 0 auto;
}
header {
	height: 61px;
	border-bottom: 2px solid #938e9c;
	font-family: "SimHei";
	font-size: 12px;	
}
header .header-left {
	display: inline-block;
	width: 104px;
	background-color: #d45d5c;
	color: #fff;
	padding: 41px 0 6px 6px;
}
header .header-right {
	float: right;
	padding: 41px 0 6px 0;
}
.top-container .main{
	width: 641px;
	position: relative;
}
.top-container .banner-img {
	display: inline-block;
	margin: 30px 0;
}
.top-container .cover-left {
	position: absolute;
	top: 30px;
	left: 0;
}
.top-container .cover-right {
	position: absolute;
	top: 30px;
	right: 0;
}
.top-container .flex-box {
	display: flex;
	font-size: 12px;
	justify-content:  space-between;
	font-family: "Microsoft YaHei";
}
.flex-box article:first-child {
	width: 19em;
	flex: 0 0 auto;
}
.flex-box .middle {
	width: 17em;
	flex: 0 0 auto;
	margin: 0 auto;
}
.flex-box article:last-child {
	width: 12em;
	flex: 0  0 auto;
}
.flex-box h2{
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
	line-height: 2em;
	height: 2em;
	color: #d2994f;
}
.flex-box  .first-h2 {
	color: #75b86b;
}
.flex-box .last-h2 {
	color: #cc7680;
}
.flex-box p {
	color: #231815;
	line-height: 16px;
	opacity: 0.7;
}
.flex-box .tips-p {
	line-height:2em;
}
.flex-box .tips {
	margin-top: 2.5em;
}
.flex-box .tips span {
	color: #cd4a48;
	font-style: oblique;
	line-height: 20px;
}
.top-container .sidebar {
	width: 203px;
	float: right;
	margin-top: 30px;
	border-top: 2px solid #cc8091;
	font-family: "Microsoft YaHei";
}
.sidebar h1 {
	font-size: 16px;
	width: auto;
	color: #000;
	font-weight: normal;
	border-bottom: 2px solid #333;
	display: inline-block;
	vertical-align: text-bottom;
	font-family: "Microsoft YaHei";
}
.sidebar h1:first-letter {
	font-size: 24px;
}
.sidebar h1:first-child {
	padding-top: 14px;
}
.sidebar .p-first{
	font-size: 12px;
	color: #676767;
	line-height: 10px;
	white-space: nowrap;
	font-style: oblique;
	padding-top: 5px;
	display: inline-block;
	font-family: "KaiTi";
}
.sidebar span {
	font-family: "Microsoft YaHei";
}
.sidebar .big {
	color: #75b86b;
	font-size: 116px;
	font-style: oblique;
	position: relative;
	left: -20px;
}
.sidebar .middle {
	color: #cc8091;
	font-size: 55px;
	position: relative;
	top: -20px;
}
.sidebar .small {
	color: #cc8091;
	font-size: 21px;
	position: relative;
	top: -30px;
}
.sidebar .tips {
	color: #676767;
	font-size: 12px;
	position: relative;
	top: -51px;
	left: 84px;
}
.bottom-container {
	margin-top: 50px;
	overflow: hidden;

}
.bottom-container article {
	width: 415px;
	float: left;
}
.navigation {
	width: 458px;
	float: right;
}
.bottom-container article h1 {
	font-size: 42px;
	color: #11456b;
	font-family: "SimHei";
	line-height: 44px;
	font-weight: bold;
	border-bottom: 2px solid #11456b;
}
.bottom-container article h1 big {
	color: #f5e327;
	font-style: italic;
	font-size: 72px;
}
.bottom-container article h1 span {
	display: block;
	font-size: 33px;
}
.bottom-container article p {
	color: #767777;
	font-family: "SimSun";
	font-size: 12px;
	line-height: 16px;
}
.bottom-container article .first-p {
	padding-top: 20px;
}
.bottom-container article p span {
		font-size: 70px;
		color: #f5e327;
		font-family: "Microsoft YaHei";
		float: left;
		padding: 25px 15px 30px 0;
}
.bottom-container article img {
	float: right;
	padding: 20px 10px 10px 20px ;
}
.bottom-container article .indent {
	text-indent: 2em;
}
.navigation  {
	position: relative;
}
.navigation .tips {
	position: absolute;
	width: 458px;
	height: 61px;
	background-color: rgba(144, 144, 144, 0.6);
	top: 197px;
	left: 0;
	font-family: "Microsoft YaHei";
}
.navigation .tips p {
	width: 405px;
	height: 44px;
	line-height: 44px;
	margin: 8px 0 8px 30px;
	border-left: 3px solid #72b16a;
	color: #fff;
	font-size: 26px;
	padding-left: 10px;
}
.navigation .tips p span {
	font-size: 12px;
	color: #72b16a;
	font-style: oblique;
	word-spacing: 140%;
	padding-left: 10px;
}
.navigation .dir {
	width: 459px ;
	height: 	318px;
	background-color: rgb(237, 235, 212);
	margin-top: 30px;
	padding-top: 20px;
	position: relative;
}
.navigation .dir .dir-p1{
	font-size: 16px;
	text-align: left;
	color: #5a5a5b;
	font-family: "SimSun";
	line-height: 50px;
	padding-left: 30px;
	height: 158px;
}
.navigation .dir p:first-child span {
	color: #5a5b5b;
	font-size: 12px;
	font-style: oblique;
	text-align: right;
}
.navigation .dir p:first-child i {
	display: inline-block;
	font-style: normal;
	color: #11456b;
	font-size: 12px;
	padding-right: 1em;
}
.navigation .dir .one {
	width:  260px;
	height: 160px;
	background-color: rgb(209, 94, 95);
	padding-left: 20px;
}
.navigation .dir .one span {
	font-family: "Microsoft YaHei";
	font-size: 110px;
	color: #fff;
	position: relative;
	top: 5px;
}
.navigation .dir .one div {
	height: 86px;
	text-align: left;
	float: right;
	margin: 37px 10px 37px 0;
	border-left: 2px solid #fff;
	padding-left: 15px;
}
.navigation .dir .one div p {
	color: #fff;
	font-family:  "SimHei";
}
.navigation .dir .one div p:first-child {
	font-size: 21px;
	font-style: initial;
	line-height: 24px;
}
.navigation .dir .one div p:last-child {
	font-size: 12px;
	line-height: 18px;
}
.navigation .dir .dir-p2 {
	font-size: 14px;
	color: #5a5b5b;
	font-family: "SimHei";
	line-height: 16px;
	width: 199px;
	text-indent: 3em;
	position: absolute;
	top: 199px;
	right: -25px;
}
.navigation .dir .dir-p2 span {
	font-size: 72px;
	color: #d45d5c;
	line-height: 72px;
	position: absolute;
}
.navigation .dir .dir-p2 .span1{
	top: -10px;
	right: 168px;
}
.navigation .dir .dir-p2 .span2 {
	right: -1px;
}
footer {
	border-top: 1px solid #938e8c;
	text-align: right;
	font-size: 12px;
	font-family: "SimHei";
	color: #d45d5c;
	margin-top: 40px; 
}